* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #edb336;
  font-family: 'Luckiest Guy', cursive;
}

.wrapper {
  margin: 0 auto;
  width: 300px;
}

h1 {
  margin: 25px 0;
  color: white;
  font-size: 35px;
  text-align: center;
  text-shadow: 0 0 15px #541f82;
}

button {
  cursor: pointer;
  font-family: 'Luckiest Guy', cursive;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 50px;
}

section .game-results {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  background-color: #731cc0;
  border-radius: 10px;
  color: white;
}

section .game-results .flex-child {
  text-align: right;
  width: 50%;
  font-size: 12px;
}

section .game-results .move-text, section .game-results .time-text {
  padding: 6px 6px 0 0;
  text-transform: uppercase;
  font-weight: 550;
}

section .game-results .move-result, section .game-results .time-result {
  padding: 3px 8px 6px 0;
  font-family: 'Montserrat', sans-serif;
}

section .game-results .time-result {
  color: #edb336;
}

section .game-results .seconds {
  color: white;
  font-weight: normal;
}

.btn-restart {
  width: 30%;
  padding: 5px 10px;
  height: 100%;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.game-btn {
  border: none;
  border-radius: 10px;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
  background-color: #731cc0;
  color: white;
}

.game-btn:hover {
  color: #731cc0;
  background-color: white;
}

.congratulations-bar {
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 101%;
  width: 101%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #d1c1a6;
  z-index: 2;
  opacity: .95;
}

.congratulations-bar.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: congratulations .5s ease 1;
          animation: congratulations .5s ease 1;
}

.congratulations-bar .congratulations {
  color: #541f82;
  text-shadow: 0 0 20px #edb336;
  text-transform: uppercase;
  font-size: 23px;
}

.congratulations-bar .final-score {
  width: 60%;
  text-align: center;
  font-weight: bold;
  color: #541f82;
}

.congratulations-bar .final-score .final-moves, .congratulations-bar .final-score .final-time {
  color: #edb336;
  text-shadow: 0px 0px 3px black;
}

.congratulations-bar .btn-play-again {
  padding: 15px 30px;
  font-size: 17px;
}

@-webkit-keyframes congratulations {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: .95;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes congratulations {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: .95;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.game-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 2%;
  width: 300px;
  height: 300px;
  margin: 30px auto;
}

.game-puzzle {
  border-radius: 15px;
  background-color: #6f6b68;
}

.puzzle-box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: grey;
  cursor: pointer;
}

.puzzle-number {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.zero-puzzle {
  background-color: #6F6B68;
}

.btn-pause-play {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
}

.btn-restart.disactive, .btn-pause-play.disactive, .game-results.disactive {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #333;
  color: white;
}

.how-to-play {
  width: 90%;
  margin: 20px auto 0 auto;
  text-align: center;
  font-weight: 450;
  color: #656266;
}

.how-to-play .order {
  font-size: 18px;
  color: white;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 40%;
  font-size: 20px;
}

.my-mail, i {
  color: #731cc0;
  font-size: 16px;
}

.btn-mail {
  background: none;
  border: none;
}

.contact-item {
  -webkit-transition: color .3s, -webkit-transform .3s;
  transition: color .3s, -webkit-transform .3s;
  transition: transform .3s, color .3s;
  transition: transform .3s, color .3s, -webkit-transform .3s;
}

.contact-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mail-info {
  display: none;
  position: absolute;
  top: -50px;
  width: 90vw;
  border-radius: 10px;
  padding: 10px;
  background-color: #7b787ce8;
  font-size: 10px;
  color: white;
}

.mail-info.active {
  display: block;
  -webkit-animation: showMailInfo 4s ease 1;
          animation: showMailInfo 4s ease 1;
}

@-webkit-keyframes showMailInfo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes showMailInfo {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (min-width: 375px) {
  section .game-results .flex-child {
    font-size: 14px;
  }
  section button {
    font-size: 15px;
  }
}

@media (min-width: 411px) {
  .wrapper {
    width: 350px;
  }
  .game-container {
    width: 350px;
    height: 350px;
  }
  .mail-info {
    font-size: 14px;
  }
  .congratulations-bar .btn-play-again {
    font-size: 22px;
  }
}

@media (min-width: 520px) {
  .game-results {
    width: 40%;
  }
  .mail-info {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */