@media (min-width: 1024px)
    .wrapper
        width: 60%

    section
        button
            font-size: 20px

@media (min-width: 1336px)
    section
        button
            width: 20%

        .game-results
            width: 30%




    