h1
    margin: 35px 0 50px 0
    font-size: 45px

.wrapper
    width: 450px

.game-container
    height: 450px
    width: 450px
    margin: 50px auto

.mail-info
    width: 290px











    



    