@media (min-width: 1024px)
    .wrapper
        width: 60%

    section
        button
            font-size: 20px

@media (min-width: 1336px)
    .wrapper
        width: 45%

    section
        button
            font-size: 18px

    section
        button
            width: 20%

        .game-results
            width: 30%

    .game-container
        height: 40vh
        width: 40vh



    