*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: rgb(237, 179, 54)
    // font-family: 'Montserrat', sans-serif
    font-family: 'Luckiest Guy', cursive

.wrapper
    margin: 0 auto
    width: 300px

h1
    margin: 25px 0
    color: white
    font-size: 35px
    text-align: center
    text-shadow: 0  0 15px rgb(84, 31, 130)

button
    cursor: pointer
    font-family: 'Luckiest Guy', cursive

//GAME RESULTS SECTION
section
    display: flex
    justify-content: space-between
    align-items: start
    height: 50px

    .game-results
        height: 100%
        display: flex
        flex-wrap: wrap
        width: 50%
        background-color: rgb(115, 28, 192)
        border-radius: 10px
        color: white

        .flex-child
            text-align: right
            width: 50%
            font-size: 12px
        
        .move-text, .time-text
            padding: 6px 6px 0 0
            text-transform: uppercase
            font-weight: 550
            

        .move-result, .time-result
            padding: 3px 8px 6px 0
            font-family: 'Montserrat', sans-serif
            

        .time-result
            color: rgb(237, 179, 54)

        .seconds
            color: white
            font-weight: normal

.btn-restart
    width: 30%
    padding: 5px 10px
    height: 100%     
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

.game-btn
    border: none
    border-radius: 10px
    transition: color .3s, background-color .3s
    background-color: rgb(115, 28, 192)
    color: white
    &:hover
        color: rgb(115, 28, 192)
        background-color: white
 

//GAME GRID CONTAINER
.congratulations-bar
    position: absolute
    display: none
    align-items: center
    flex-direction: column
    justify-content: space-evenly
    height: 101%
    width: 101%
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    border-radius: 10px
    background-color: #d1c1a6
    z-index: 2
    opacity: .95
    &.active
        display: flex
        animation: congratulations .5s ease 1

    &.disactive
        display: flex
        animation: congratulations-out .5s ease 1

    .congratulations
        color: rgb(84, 31, 130)
        text-shadow: 0 0 20px rgb(237, 179, 54)
        text-transform: uppercase
        font-size: 23px

    .final-score
        width: 60%
        text-align: center
        font-weight: bold
        color: rgb(84, 31, 130)

        .final-moves, .final-time
            color: rgb(237, 179, 54)
            text-shadow: 0px 0px 3px black

    .btn-play-again
        padding: 15px 30px
        font-size: 17px
        
@keyframes congratulations
    from
        opacity: 0
        transform: translate(-50%,-50%) scale(0)
    
    to
        opacity: .95
        transform: translate(-50%,-50%) scale(1)

@keyframes congratulations-out
    from
        opacity: .95
        transform: translate(-50%,-50%) scale(1)
    
    to
        opacity: 0
        transform: translate(-50%,-50%) scale(0)

.game-container
    position: relative
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, 1fr)
    gap: 2%
    width: 300px
    height: 300px
    margin: 30px auto

.game-puzzle
    border-radius: 15px
    background-color:  rgb(111, 107, 104)

.puzzle-box
    position: relative
    width: 100%
    height: 100%
    border-radius: 15px
    background-color: red
    cursor: pointer

.puzzle-number
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

.zero-puzzle
    background-color: #6F6B68

//DESCRIPTION
.btn-pause-play
    display: block
    margin: 0 auto
    padding: 15px 30px
    font-size: 20px
    font-family: 'Luckiest Guy', cursive

.btn-restart, .btn-pause-play, .game-results
    &.disactive
        cursor: not-allowed
        opacity: 0.5
        background-color: #333
        color: white

.how-to-play
    width: 90%
    margin: 20px auto 0 auto
    text-align: center
    font-weight: 450
    color: #656266

    .order
        font-size: 18px
        color: white

//CONTACT
.contact
    position: relative
    display: flex
    justify-content: space-around
    align-items: center
    margin: auto
    width: 40%
    font-size: 20px    

.my-mail, i
    color: rgb(115, 28, 192)
    font-size: 16px

.btn-mail
    background: none
    border: none

.contact-item
    transition: transform .3s, color .3s
    &:hover
        transform: scale(1.2)

.mail-info
    display: none
    position: absolute
    top: -50px
    width: 90vw
    border-radius: 10px
    padding: 10px 
    background-color: #7b787ce8
    font-size: 10px
    color: white
    &.active
        display: block
        animation: showMailInfo 4s ease 1
        

@keyframes showMailInfo
    0%
        opacity: 0
        transform: scale(0)
        
    30%
        opacity: 1
        transform: scale(1)

    70%
        opacity: 1
        transform: scale(1)

    100%
        opacity: 0
        transform: scale(0)
        
@media ( min-width: 375px)
    section
        .game-results
            .flex-child
                font-size: 14px        
        button
            font-size: 15px

@media ( min-width: 411px)
    .wrapper
        width: 350px
    
    .game-container
        width: 350px
        height: 350px

    .mail-info
        font-size: 14px

    .congratulations-bar
        .btn-play-again
            font-size: 22px

@media ( min-width: 520px)
    .game-results
        width: 40%
    
    .mail-info
        width: 300px



    