*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: rgb(237, 179, 54)
    font-family: 'Montserrat', sans-serif

.wrapper
    margin: 0 auto
    width: 300px

h1
    margin: 25px 0
    color: white
    font-size: 35px
    text-align: center
    text-shadow: 2px 2px 10px rgb(84, 31, 130)

//GAME RESULTS SECTION
section
    display: flex
    justify-content: space-between
    align-items: start
    height: 50px

    .game-results
        height: 100%
        display: flex
        flex-wrap: wrap
        width: 50%
        background-color: rgb(115, 28, 192)
        border-radius: 10px
        color: white

        .flex-child
            text-align: right
            width: 50%
            font-size: 12px
        
        .move-text, .time-text
            padding: 6px 6px 0 0
            text-transform: uppercase
            font-weight: 550

        .move-result, .time-result
            padding: 3px 8px 6px 0
        
        .seconds
            color: rgb(237, 179, 54)
            font-weight: normal

    button
        width: 30%
        padding: 5px 10px
        height: 100%
        border: none
        border-radius: 10px
        transition: color .3s, background-color .3s
        background-color: rgb(115, 28, 192)
        font-size: 13px
        font-family: 'Akaya Telivigala', cursive
        font-weight: bold
        color: #ddd
        cursor: pointer

    button:hover
        color: rgb(115, 28, 192)
        background-color: white

//GAME GRID CONTAINER
.game-container
    margin: 30px auto
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, 1fr)
    gap: 2%
    width: 300px
    height: 300px

.game-puzzle
    position: relative
    background-color: white
    border-radius: 15px
    box-shadow: 2px 2px 5px rgb(115, 28, 192)

    .puzzle-number
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)

//DESCRIPTION
.btn-pause
    display: block
    margin: 0 auto
    padding: 15px 30px
    border: none
    border-radius: 10px
    background-color: rgb(115, 28, 192)
    color: white
    font-size: 20px
    cursor: pointer

.how-to-play
    width: 90%
    margin: 20px auto
    text-align: center

@media ( min-width: 375px)
    section
        .game-results
            .flex-child
                font-size: 14px        
        button
            font-size: 15px

@media ( min-width: 411px)
    .wrapper
        width: 350px
    
    .game-container
        width: 350px
        height: 350px

@media ( min-width: 520px)
    .game-results
        width: 40%



    