*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #fdf273
    font-family: 'Montserrat','Arial', sans-serif

.wrapper
    margin: 0 auto
    width: 300px

h1
    margin: 25px 0
    text-align: center
    text-shadow: 2px 2px 5px black
    font-family: 'Cookie', cursive
    font-size: 50px
    color: white

button
    cursor: pointer
    font-family: 'Montserrat','Arial', sans-serif

//GAME RESULTS SECTION
section
    display: flex
    justify-content: space-between
    align-items: start
    height: 50px

    .game-results
        display: flex
        flex-wrap: wrap
        height: 100%
        width: 50%
        background-color: #5BC8AC
        border-radius: 10px
        color: white

        .flex-child
            text-align: right
            width: 50%
            font-size: 12px
        
        .move-text, .time-text
            padding: 6px 6px 0 0
            text-transform: uppercase
            font-weight: 550
            
        .move-result, .time-result
            padding: 3px 8px 6px 0
            font-family: 'Montserrat', sans-serif
            
        .time-result
            color:  #fdf273

        .seconds
            color: white
            font-weight: normal

.btn-restart
    height: 100%     
    width: 30%
    padding: 5px 10px
    font-weight: bold
    text-transform: uppercase
    font-size: 13px

.game-btn
    border: none
    border-radius: 10px
    transition: color .3s, background-color .3s
    background-color: #5BC8AC
    color: white
    &:hover
        color: #5BC8AC
        background-color: white
 

//GAME GRID CONTAINER
.game-container
    position: relative
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, 1fr)
    gap: 2%
    width: 300px
    height: 300px
    margin: 15px auto

.game-puzzle
    border-radius: 15px
    background-color:  rgb(170, 167, 164)

.puzzle-box
    position: relative
    width: 100%
    height: 100%
    border-radius: 15px
    background-color: #36cca6
    cursor: pointer
    animation: move-puzzle .3s ease 

@keyframes move-puzzle
    0%
        transform: scale(.7)

    100%
        transform: scale(1)
        
.right-position
    background-color: #F18D9E
    
.puzzle-number
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    font-size: 70px
    font-family: 'Cookie', cursive
    color: white


.pause-bar
    position: absolute
    top: 50%
    left: 50%
    display: none
    height: 105%
    width: 105%
    transform: translate(-50%,-50%)
    border-radius: 10px
    background-color: #cfcfcfc9
    z-index: 2

    .play-btn
        position: absolute
        top: 50%
        left: 50%
        display: block
        height: 70px
        width: 70px
        transform: translate(-50%,-50%)
        z-index: 3
        background: none
        border: none

        .play-svg
            height: 100%
            width: 100%

.congratulations-bar
    position: absolute
    top: 50%
    left: 50%
    display: none
    align-items: center
    flex-direction: column
    justify-content: space-evenly
    height: 105%
    width: 105%
    transform: translate(-50%,-50%)
    border-radius: 10px
    background-color: #e4ddd2d0
    z-index: 2
    opacity: .95
    &.active
        display: flex
        animation: congratulations .5s ease 1

    .congratulations
        font-weight: bold
        font-family: 'Cookie', cursive
        font-size: 43px
        letter-spacing: 4px
        text-shadow: 0 0 2px #535353
        color: #fdf273

    .final-score
        width: 60%
        text-align: center
        font-weight: bold
        color: #F18D9E
        text-shadow: 0px 0px 1px #535353

        .final-moves, .final-time
            color: #fdf273

    .btn-play-again
        padding: 15px 30px
        font-size: 17px
        
@keyframes congratulations
    from
        opacity: 0
        transform: translate(-50%,-50%) scale(0)
    
    to
        opacity: .95
        transform: translate(-50%,-50%) scale(1)

//DESCRIPTION
.btn-pause-play
    display: block
    margin: 0 auto
    padding: 15px 30px
    font-size: 20px

.btn-restart, .btn-pause-play, .game-results
    &.disactive
        cursor: not-allowed
        opacity: 0.5
        background-color: #AAA7A4
        color: white

.how-to-play
    width: 90%
    margin: 20px auto 0 auto
    font-weight: 450
    text-align: center
    color: rgb(170, 167, 164)

    .order
        font-size: 18px
        color: #F18D9E

//CONTACT
.contact
    position: relative
    display: flex
    justify-content: space-around
    align-items: center
    margin: 10px auto 0
    width: 60%
    font-size: 20px

.my-mail
    color: #5BC8AC
    font-size: 100%

.btn-mail
    background: none
    border: none

.contact-item
    transition: transform .3s, color .3s
    &:hover
        transform: scale(1.2)

.icon
    height: 22px
    width: 22px

.mail-info
    position: absolute
    top: -50px
    display: none
    width: 90vw
    padding: 10px 
    border-radius: 10px
    background-color: #7b787ce8
    text-align: center
    font-size: 15px
    color: white
    &.active
        display: block
        animation: showMailInfo 4s ease 1
        
@keyframes showMailInfo
    0%
        opacity: 0
        transform: scale(0)
        
    30%
        opacity: 1
        transform: scale(1)

    70%
        opacity: 1
        transform: scale(1)

    100%
        opacity: 0
        transform: scale(0)
        
@media ( min-width: 375px)
    section
        .game-results
            .flex-child
                font-size: 14px        
        button
            font-size: 15px

@media ( min-width: 411px)
    .wrapper
        width: 350px
    
    .game-container
        width: 350px
        height: 350px

    .congratulations-bar
        .btn-play-again
            font-size: 22px

@media ( min-width: 520px)
    .game-results
        width: 40%
    
    .mail-info
        width: 300px

